*{
    font-family: 'Times New Roman', Times, serif;
    background-color: aquamarine;
    font-style: italic;
}
#about {
    color: red;
    font-style: italic;
}

#about:hover {
    color:white;
}

#about::first-line{
    color: blueviolet;
}

h3{
    color: green;
    font-style: italic;
}

h1{
    color:brown;
}

#skills{
    color:brown;
    font-style: italic;
}

#projects{
    color: green;
}